{% extends 'base.html' %}

{% block title %}Miroute - Detalhes{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Miroute - Aplicação para Controle da Qualidade do Leite</h2>
    
    <div class="row">
        <div class="col-md-6">
            <h4>Descrição</h4>
            <p>Miroute é uma aplicação desenvolvida para rastrear a qualidade do leite, monitorando todos os dados de transporte e otimização dos processos. O sistema coleta e processa dados sobre a qualidade do leite e oferece visualizações e relatórios em tempo real para as partes interessadas. O objetivo principal é garantir a qualidade do leite desde a fazenda até o consumidor final.</p>
            <h4>Tecnologias Utilizadas</h4>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>PostgreSQL</li>
                <li>IoT (Internet das Coisas)</li>
                <li>APIs RESTful</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="url_da_imagem_do_projeto" alt="Imagem do Miroute" class="img-fluid rounded">
        </div>
    </div>
    
    <a href="https://github.com/seu_usuario/miroute" class="btn btn-primary" target="_blank">Ver no GitHub</a>
</div>
{% endblock %}
