{% extends 'base.html' %}

{% block title %}Projetos{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Meus Projetos</h2>
    
    <p>Confira abaixo alguns dos projetos que desenvolvi. Clique em qualquer um para saber mais!</p>
    
    <div class="row">
        <!-- Card do projeto 1 -->
        <div class="col-md-4">
            <div class="card" style="background-image: url('url_da_imagem_do_projeto_1'); background-size: cover;">
                <div class="card-body">
                    <h5 class="card-title text-white">Miroute</h5>
                    <p class="card-text text-white">Aplicação para monitoramento da qualidade do leite, com foco na rastreabilidade e otimização do transporte.</p>
                    <a href="/projeto/miroute" class="btn btn-light">Saiba Mais</a>
                </div>
            </div>
        </div>

        <!-- Card do projeto 2 -->
        <div class="col-md-4">
            <div class="card" style="background-image: url('url_da_imagem_do_projeto_2'); background-size: cover;">
                <div class="card-body">
                    <h5 class="card-title text-white">PlanLab</h5>
                    <p class="card-text text-white">Planejador de aulas desenvolvido com Django e PostgreSQL. Facilitando o planejamento de turmas e aulas.</p>
                    <a href="/projeto/planlab" class="btn btn-light">Saiba Mais</a>
                </div>
            </div>
        </div>

        <!-- Card do projeto 3 -->
        <div class="col-md-4">
            <div class="card" style="background-image: url('url_da_imagem_do_projeto_3'); background-size: cover;">
                <div class="card-body">
                    <h5 class="card-title text-white">FACEPE</h5>
                    <p class="card-text text-white">Aplicação IoT para monitoramento da qualidade do ar, com visualização de dados em tempo real.</p>
                    <a href="/projeto/facepe" class="btn btn-light">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
