{% extends 'base.html' %}

{% block title %}Projetos{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Meus Projetos</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/projeto1.jpg') }}" class="card-img-top" alt="Projeto 1">
                    <div class="card-body">
                        <h5 class="card-title">Projeto 1</h5>
                        <p class="card-text">Descrição breve do projeto.</p>
                        <a href="#" class="btn btn-primary">Ver mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/projeto2.jpg') }}" class="card-img-top" alt="Projeto 2">
                    <div class="card-body">
                        <h5 class="card-title">Projeto 2</h5>
                        <p class="card-text">Descrição breve do projeto.</p>
                        <a href="#" class="btn btn-primary">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
